* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100%;
    background-color: #12172B;
    font-family: Arial, sans-serif;

}

header {
    color: #fff;
    padding: 1rem;
    text-align: center;
    font-size: x-large;
}

header p {
    width: 70%;
    text-align: center;
    margin: 2em auto 1em auto;
    font-size: 20px;
}

header .hr {
    width: 50%;
    height: 1px;
    border: none;
    border-top: dashed 2px white;
    margin: 1em auto;
}

.head h1 {
    text-align: center;
    margin: 1em auto;
    color: aqua;
    text-transform: uppercase;
    font-family: monospace;
    letter-spacing: 0.1em;
    text-decoration: overline;
}

.ceo {
    height: 50vh;
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;

}

.card {
    height: 90%;
    width: 40%;
    margin: auto;
    border: solid 2px rgba(5, 117, 209, 0.315);
    background: rgba(58, 137, 221, 0.1);
    backdrop-filter: blur(11px);
    -webkit-backdrop-filter: blur(11px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    transition: all 3s;
}
.card:hover{
    transform: scale(1.12);
}

.card img {
    height: 40%;
    width: 40%;
    border: dotted 2px white;
    padding: 10px;
    border-radius: 50%;
    display: block;
    margin: 5em auto 0 auto;
}

.card h2,
.card h4 {
    color: white;
    text-align: center;
    margin: 1em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.emp {
    height: 45vh;
    width: 90%;
    margin: 1em auto;
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
}

/* dev-team */
.dev {
    height: 40vh;
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-items: center;
}

.card1 {
    height: 90%;
    width: 40%;
    margin: auto;
    border: solid 1px rgba(0, 255, 217, 0.678);
    border-radius: 40% 0;
    transition: all 1.5s;
}

.card1:hover {
    transform: scale(1.12);
}

.card1 img {
    height: 25%;
    width: 35%;
    border: dotted 2px white;
    padding: 10px;
    border-radius: 50%;
    display: block;
    margin: 5em auto 0 auto;
    transition: all 1s;
}

.card1 img:hover {
    transform: scale(1.12);
    background-color: aqua;
}

.card1 h3 {
    color: white;
    text-align: center;
    margin: 1em;
    font-family: Cambria;
    font-size: 15px;
}

.footer{
    height: 10vh;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.062);
    margin-top: 3em;
    color: white;
    font-family: monospace;
    text-align: center;
    padding-top: 3em;
}







/* Default styles for all devices */
@media screen and (max-width: 550px) {
    .ceo {
        height: 90vh;
        display: grid;
        grid-template-columns: auto;
    }

    .card h2 {
        font-size: 15px;
    }

    .emp {
        height: 120vh;
        display: grid;
        grid-template-columns: auto;
    }

    .dev {
        height: 150vh;
        display: grid;
        grid-template-columns: auto;
    }

}

@media screen and (min-width:550px) and (max-width: 750px) {
    .ceo {
        height: 100vh;
        display: grid;
        grid-template-columns: auto;
    }

    .card h2 {
        font-size: 15px;
    }

    .emp {
        height: 140vh;
        display: grid;
        grid-template-columns: auto;
    }

    .dev {
        height: 80vh;
        display: grid;
        grid-template-columns: auto auto;
    }
}

@media screen and (min-width: 750px) and (max-width: 991px) {

    .ceo,
    .emp {
        display: grid;
        grid-template-columns: auto auto;
    }

    .card {
        width: 55%;
    }

    .card h2 {
        font-size: 15px;
    }

    .emp {
        height: 90vh;
    }

    .dev {
        height: 80vh;
        display: grid;
        grid-template-columns: auto auto;
    }



}

@media screen and (min-width: 991px) and (max-width: 1199px) {

    .ceo,
    .emp {
        display: grid;
        grid-template-columns: auto auto;
    }

    .card {
        width: 55%;
    }

    .card h2 {
        font-size: 15px;
    }

    .emp {
        height: 90vh;
    }
}